.wrap.dable .container {
	display: flex;
}

@media (max-width: 960px) {
	.wrap.dable .container {
		display: block;
	}
}

.wrap.dable form {
	flex: 1 1;
}

.wrap.dable h1 {
	padding: 0;
	line-height: 55px;
}

.wrap.dable section {
	background: #fff;
	padding: 20px;
	padding-top: 0;
	margin-bottom: 32px;
	border: 1px solid #eaeaea;
}

.wrap.dable h2 {
	margin: 5px -20px 0 -20px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	line-height: 3;
}

.wrap.dable h3 {
	font-size: 1.2em;
}
.wrap.dable button.toggle {
	border: 0;
	background: transparent;
	padding: 0;
	cursor: pointer;
}
.wrap.dable button.toggle.active {
	color: #0073aa;
}
.wrap.dable .desc {
	display: none;
	margin: 0;
	padding: .5em;
	font-size: 13px;
	color: #f43980;
}
.wrap.dable label.toggle-slide input[type="radio"],
.wrap.dable label.toggle-slide input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
	left: -9999px;
}
.wrap.dable label.toggle-slide span {
	display: block;
	position: relative;
	line-height: 20px;
	padding-left: 53px;
}
.wrap.dable label.toggle-slide span:before {
	content: '';
	position: absolute;
	background: #ccc;
	top: 0;
	left: 0;
	height: 20px;
	width: 45px;
	border-radius: 9px;
	transition: background-color .3s;
}
.wrap.dable label.toggle-slide input:checked + span:before {
	background: #0073aa;
}
.wrap.dable label.toggle-slide span:after {
	position: absolute;
	content: '';
	top: 3px;
	left: 29px;
	height: 14px;
	width: 14px;
	border-radius: 7px;
	background: #fff;
	transition: left .3s;
}
.wrap.dable label.toggle-slide input:checked + span:after {
	content: '';
	left: 3px;
}
.wrap.dable label.toggle-slide span i:before {
	position: absolute;
	content: 'Off';
	font-size: 5px;
	font-style: normal;
	font-weight: 500;
	top: 0;
	left: 6px;
	color: #fff;
}
.wrap.dable label.toggle-slide input:checked + span i:before {
	content: 'On';
	left: 22px;
}
.dable-input-tag {
	display: block;
	position: relative;
}

.dable-input-tag__input {
	padding-left: 5em;
}

.dable-input-tag__tag {
	position: absolute;
	top: 5px;
	left: 7px;
	font-size: 12px;
	color: #999;
}
.dable-inline-checkbox {
	display: inline-block;
	margin-right: 1.5em;
}
label[for*="dable_thumbnail_"] {
	min-width: 10em;
	vertical-align: baseline;
}

.wrap.dable .widget-types {
	padding-bottom: 12px;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}

.wrap.dable .dable-widget-responsive,
.wrap.dable .dable-widget-platform {
	margin-left: 24px;
}

.wrap.dable .dable-widget-responsive label,
.wrap.dable .dable-widget-platform label {
	margin-left: -24px;
	line-height: 2;
}

.wrap.dable .widget-types label,
.wrap.dable .meta-tags label,
.wrap.dable .thumbnail-sizes label {
	display: block;
}
.wrap.dable .post-types label {
	display: block;
	margin-bottom: 5px;
}

/* news */
.wrap.dable ul.news {
	width: 300px;
	margin: 0 0 0 50px;
}

@media (max-width: 960px) {
	.wrap.dable ul.news {
		width: auto;
		max-width: 260px;
		margin-left: 0;
	}
}

.wrap.dable .news__entry {
	padding: 0 20px;
	margin-bottom: 38px;
}

@media (max-width: 960px) {
	.wrap.dable .news__entry {
		padding: 0;
	}
}

.wrap.dable .news__entry.template {
	display: none;
}

.wrap.dable .news__title {
	font-size: 18px;
	color: #23282d;
	margin: 0 0 16px;
}

.wrap.dable .news__thumbnail {
	background: no-repeat 50% 50%;
	background-size: cover;
	height: 150px;
	background-color: #fff;
	margin-bottom: 16px;
}

.wrap.dable .news__content {
	height: 78px;
	margin: 0;
	overflow: hidden;
}
